.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #000;
  color: #fff;
}
.form {
  width: 300px;
  height: 420px;
}
.buttons {
  display: flex;
}
.buttons div {
  width: 150px;
  height: 30px;
}
.choosenButton {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 3px;
}
.form__controls_signup {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100%;
  width: 100%;
}
.form__controls_login {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;

  height: 100%;
  width: 100%;
}
.error_msg {
  text-align: center;
  color: red;
}
.action_btn {
  justify-self: center;

  height: 30px;
  width: 150px;
}
.home {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
}
.home_img {
  width: 30px;
}
