.signup {
  background-color: #000;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 300px;
  height: 420px;
}
.buttons {
  display: flex;
}
.buttons div {
  width: 150px;
  height: 30px;
}
.form__controls_signup {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
}
.form__controls_login {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  height: 100%;
  width: 100%;
}
.error_msg {
  text-align: center;
  color: red;
}
.action_btn {
  justify-self: center;

  height: 30px;
  width: 150px;
}
