.filterForm {
  margin: 10px 0 0 0;
  padding: 0px 10px;
}
.filterForm h2 {
  margin: 0 0 10px 0;

  color: white;
  text-align: center;
}
.filterForm__selects {
  display: flex;
}
.filterForm__selects div {
  flex: 1 1 50%;
}
.filterForm__selects div:first-child {
  padding: 0 5px 0 0;
}
.filterForm__selects div:last-child {
  padding: 0 0 0 5px;
}

/* MUSIC POSTS */

.musicPost__list {
  padding: 0 10px;
}
.musicPost {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 0;

  margin: 5px 0 0 0;
  height: 50px;

  color: white;
  font-family: "Quicksand", sans-serif;

  transition: all 0.4s;
}
.musicPost::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: 2px solid white;

  content: "";
  transform: skew(-15deg);
}
.musicPost:hover {
  transform: scale(1.01);
}

.musicPost__image {
  flex: 0 0 10%;
  height: 40px;
}
.musicPost__image img {
  margin: 0 0 0 20px;
  width: 40px;
  cursor: pointer;
}
.musicPost__info {
  flex: 0 1 60%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.musicPost__price {
  flex: 0 1 20%;
}
.musicPost__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100%;
  flex: 0 0 5%;
}
.musicPost__button::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-left: 2px solid white;

  content: "";
  transform: skew(-15deg);
}
.musicPost__button img {
  width: 50%;
  cursor: pointer;
}

.musicPost__play img {
  width: 25%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .musicPost__image {
    display: none;
  }
  .musicPost__button {
    flex: 0 0 10%;
  }
}
@media (max-width: 450px) {
  .musicPost__button {
    flex: 0 0 20%;
  }
}
/* AUDIO PLAYER */

.audio {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 50px;
  border-top: 1px solid white;

  background-color: rgba(0, 0, 0, 0.925);
  color: white;
}
.audio__panel {
  display: flex;
  align-items: center;
}

.audio__image {
  height: 40px;
  flex: 0 0 10%;
}
.audio__image img {
  margin: 5px 0 0 20px;
  width: 40px;
}
.audio__progress {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 1 80%;
}
.audio__buttons {
  display: flex;
  align-items: center;

  flex: 0 0 10%;
}
.audio__button {
  width: 20px;
  margin: 5px 10px 0 0;
}
.audio__button img {
  width: 100%;
}
.audio__volume {
  position: relative;
}
.audio__volume__content {
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;

  opacity: 0;
  pointer-events: none;

  transition: all 0.2s;
  transform: rotate(-90deg);
}
.audio__volume:hover .audio__volume__content {
  opacity: 1;
  pointer-events: all;
}
.audio__volume__content input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  border: 2px solid rgb(0, 0, 0);
  width: 100px;

  background: rgb(255, 255, 255);
  cursor: pointer;
}
.audio__volume__content input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 4px;
  height: 15px;

  background-color: #000000;
}

.audio__bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio__bar input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  width: 90%;
  height: 2px;

  background: rgb(255, 255, 255);
  cursor: pointer;
}
.audio__bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 4px;
  height: 10px;

  background-color: #ffffff;
}
.audio__bar__info {
  display: flex;
  justify-content: space-between;

  width: 90%;
}
