.profile {
  display: flex;
}
.profile__navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  margin: 10px 10px 0 0;
  padding: 10px;
  border: 1px solid white;

  min-height: 90vh;
  flex: 0 0 10%;
}
.profile__navigation a {
  margin: 5px 0;
  width: auto;
}
.profile__content {
  box-sizing: border-box;
  margin: 10px 0 0 0;
  padding: 10px;
  border: 1px solid white;

  min-height: 90vh;
  flex: 0 1 90%;
}

.profile__settings {
  display: flex;
}

.profile__settings__image {
  box-sizing: border-box;
  padding: 5px;
  flex: 0 0 20%;
}
.profile__settings__image img {
  width: 100%;
}
.profile__settings__form {
  box-sizing: border-box;
  padding: 5px;
  flex: 0 0 80%;
}
.profile__settings__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.profile__settings__btns input {
  margin-top: 10px;
}
.error {
  color: white;
  text-align: center;
}
.linkNav {
  color: white;
  text-decoration: none;
}
.linkNavActive {
  text-decoration: underline;
}
@media (max-width: 630px) {
  .profile__settings {
    flex-direction: column;
  }
  .profile__settings__file {
    width: 100%;
  }
  .profile__settings__file div {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
