.ticker-wrapper {
    overflow: hidden;
    height: 35px;
    position: relative;
}
.ticker-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 35px;
    transform: translate(100%, 0);
}
.ticker-wrapper div p {
    color: #fff339;
    text-transform: uppercase;
}
.ticker-wrapper .ticker-wrapper__first-half, .ticker-wrapper .ticker-wrapper__second-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker 30s infinite linear forwards;
}
.ticker-wrapper .ticker-wrapper__second-half {
    animation: 30s ticker 15s infinite linear forwards;
}
@keyframes ticker {
    0% {
        transform: translate(100%, 0);
   }
    50% {
        transform: translate(0, 0);
   }
    100% {
        transform: translate(-100%, 0);
   }
}
