.footer {
  min-height: 100px;
  background-color: transparent;
  color: white;
}
.footer hr {
  margin: 0;
  color: white;
}
.footer__copyright {
  display: flex;
  align-items: center;
}
.footer__copyright p:first-child {
  font-size: 24px;
  margin-right: 20px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  width: 100%;
  list-style: none;
}
.footer__list li {
  padding: 10px;
}

.footer__list li > a:visited {
  box-sizing: border-box;
  color: white;
}
