.welcome {
  position: relative;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: calc(100vh - 100px);

  max-width: inherit;
  max-height: calc(100vh - 122px);

  background-image: url("../../assests/homePageBG.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position-y: top;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .welcome {
    background-image: none;
  }
}

.welcome h1 {
  color: white;
}
.welcome__upperButtons {
  display: flex;
  align-items: center;
  width: 78%;
  margin-bottom: 10px;
}
.welcome__upperButtons div {
  flex: 1 1 50%;
}
.welcome__upperButtons div:first-child {
  padding-right: 10px;
}
.welcome__upperButtons div:last-child {
  padding-left: 10px;
}

.welcome__bottomButtons {
  width: 78%;
}

.welcome__button {
  width: 100%;
  height: 171px;
  border: 1px solid white;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  cursor: pointer;
}
.welcome__button_news {
  background-image: url("../../assests/ui/welcomeNewsButton.png");
}
.welcome__button_aboutUs {
  background-image: url("../../assests/ui/welcomeAboutUsButton.png");
}
.welcome__button_faq {
  background-image: url("../../assests/ui/welcomeFaqButton.png");
}

.aboutUs {
  min-height: 100vh;
}
.aboutUs p {
  text-align: justify;
}
.aboutUs__block {
  margin-top: 40px;
  display: flex;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.aboutUs__image {
  width: 30%;
  margin: 5px;
  border: 2px solid black;
  padding: 10px 10px 5px 10px;
  background-image: url("../../assests/homePagePhotosBG.png");
  background-size: contain;
}
.aboutUs__image img {
  width: 100%;
}
.aboutUs__block strong {
  font-family: "Falcon Punch", sans-serif;
}

.aboutUs__buttonBlock {
  display: flex;
  justify-content: center;
}
.aboutUs__button {
  background-color: black;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  font-family: "Falcon Punch", sans-serif;
  padding: 10px;
}
.aboutUs__bunerBlock {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;

  color: white;
  font-size: 32px;

  background-image: url("../../assests/homePageBuner.jpg");
  background-position: 0 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.faq {
  min-height: 100vh;
}
.faqElement {
  width: 70%;
  margin: 20px auto;
}
.faqElement__question {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 40px;
  color: white;
  cursor: pointer;
}
.faqElement__question::before {
  position: absolute;
  z-index: -1;
  content: "";

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 2px solid white;
  transform: skew(-15deg);
}
.faqElement__question_mark {
  position: relative;
  z-index: 1;

  display: block;

  margin: 0px 20px;
  padding: 0px 10px 1px 10px;
  font-size: 32px;
}
.faqElement__question_mark::before {
  position: absolute;
  z-index: -1;
  content: "";

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 2px solid white;
  transform: skew(-15deg);
}
.faqElement__question_text {
  margin: 0px;
  margin-top: -4px;
}
.faqElement__question_arrow {
  margin-right: 20px;

  transform: rotate(-90deg);
  transition: all 0.5s;
}
.faqElement__question_arrow_showed {
  transform: rotate(-270deg);
}
.faqElement__answer {
  max-width: 1000px;
  position: absolute;
  margin-bottom: 20px;

  opacity: 0;

  color: white;
  font-family: "Quicksand", sans-serif;
  transition: all 0.25s;
}
.faqElement__answer_showed {
  position: unset;
  opacity: 1;
}
.faq__buner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;

  color: white;
  font-size: 32px;

  background-image: url("../../assests/homePageFaqBuner.jpg");
  background-position: 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsFeed {
  display: flex;
  justify-content: center;

  padding: 0px 15px;
}

.newsWaterfall {
  flex: 0 0 33.3%;
  padding: 5px;
}

.newsPost {
  box-sizing: border-box;

  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 10px;

  border: 1px solid white;

  color: white;
  word-break: break-word;
}
