.header {
  background-color: #000;
  width: 100%;
  color: #fff;
  font-size: 18px;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 70px;
}
.navList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.linkNav {
  color: #fff;
  margin: 10px;
  text-decoration: none;
}
.linkNavActive {
  text-decoration: underline;
  border-bottom: 1px solid white;
}
.userCard {
  display: flex;
  align-items: center;
}
.userCart img {
  max-height: 30px;
  max-width: 30px;
}
.userImage {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, 0.205);
  border-radius: 5px;
  margin-right: 15px;
}
.userImage img {
  max-height: 30px;
  max-width: 30px;
  object-fit: cover;
}
.userInfo {
  transition: all 0.45s;
}
.userInfo:hover {
  text-decoration: underline;
  border-bottom: 1px solid white;
}
.dropdown {
  position: relative;
}
.dropdownContent {
  position: absolute;
  opacity: 0;
  top: -12px;
  left: -132px;
  transition: all 0.45s;
  z-index: -1;
  pointer-events: none;
  border-bottom: 1px solid;
  border-right: 1px solid;
  padding: 1px;
}
.dropdownContent button {
  font-family: "Karnivore Lite";
  width: 130px;
  height: 35px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.dropdownContent button:active {
  /* background-color: #1a1a1a; */
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: none;
  border-right: none;
}
.dropdownContent:active {
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: none;
  border-right: none;
}
.dropdown:hover .dropdownContent {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
.arrow {
  transition: all 0.45s;
  font-size: 10px;
  cursor: default;
}
.dropdown:hover .arrow {
  transform: rotate(90deg);
}
