@font-face {
  font-family: "Karnivore Lite";
  font-style: normal;
  font-weight: normal;
  src: local("Karnivore Lite"),
    url("./assests/fonts/Karnivore/KARNIVOL.woff") format("woff");
}
@font-face {
  font-family: "Falcon Punch";
  font-style: normal;
  font-weight: normal;
  src: local("Falcon Punch"),
    url("./assests/fonts/Falconpunch/falconpunch.ttf") format("TrueType");
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  margin: 0 0 -18px 0;
  font-family: "Karnivore Lite", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 10px;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 1320px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.main {
  background-image: url("./assests/background.png");
  min-height: 100vh;
}

.noselectText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
