@font-face {
  font-family: "Karnivore Lite";
  font-style: normal;
  font-weight: normal;
  src: local("Karnivore Lite"),
    url("./assests/fonts/Karnivore/KARNIVOL.woff") format("woff");
}
@font-face {
  font-family: "Falcon Punch";
  font-style: normal;
  font-weight: normal;
  src: local("Falcon Punch"),
    url("./assests/fonts/Falconpunch/falconpunch.ttf") format("TrueType");
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body {
  margin: 0;
  font-family: "Karnivore Lite", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.main {
  background-image: url("./assests/background.png");
  min-height: 100vh;
}

.noselectText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
