/* LOADPAGE */

.page {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.75s;
}
.delete {
  opacity: 0;
  margin-top: -100vh;
}

/* CONTROLS */

.controls__block {
  display: flex;
  flex-direction: column;
}
.controls__input {
  margin-top: 5px;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}
.controls__input_error {
  box-shadow: inset 3px 3px 35px -6px rgba(209, 31, 31, 0.438);
}
.controls__input:focus {
  outline: none;
  /* border: 1px solid #fff; */
  border-bottom: 4px double #fff;
}
.controls__error {
  align-self: center;
  color: #ff2c2c;
}
.controls__button_block {
  width: 100%;
  height: 100%;
}
.controls__button {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

/* TICKER */
.ticker-wrapper {
  overflow: hidden;
  height: 30px;
  position: relative;
  border-bottom: 1px solid white;
}
.ticker-wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 30px;
  transform: translate(100%, 0);
}
.ticker-wrapper div p {
  background: radial-gradient(
    circle,
    rgba(63, 247, 251, 1) 0%,
    rgba(89, 239, 251, 1) 17%,
    rgba(152, 91, 251, 1) 38%,
    rgb(235, 109, 241) 50%,
    rgba(152, 91, 251, 1) 62%,
    rgba(251, 117, 171, 1) 78%,
    rgba(70, 248, 252, 1) 100%
  );
  white-space: nowrap;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.ticker-wrapper .ticker-wrapper__first-half,
.ticker-wrapper .ticker-wrapper__second-half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Falcon Punch", sans-serif;
  animation: ticker 30s infinite linear forwards;
}
.ticker-wrapper .ticker-wrapper__second-half {
  animation: 30s ticker 15s infinite linear forwards;
}
@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
