/* LOADPAGE */

.page {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.75s;
}
.delete {
  opacity: 0;
  margin-top: -100vh;
}

/* LOADELEMENT */

.loadingElement {
  display: flex;
  justify-content: center;

  width: 100%;
}

/* CONTROLS */

.controls__block {
  display: flex;
  flex-direction: column;
}
.controls__block label {
  color: white;
}
.controls__input {
  margin-top: 5px;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}
.controls__input_error {
  box-shadow: inset 3px 3px 35px -6px rgba(209, 31, 31, 0.438);
}
.controls__input:focus {
  outline: none;
  /* border: 1px solid #fff; */
  border-bottom: 4px double #fff;
}
.controls__error {
  align-self: center;
  color: #ff2c2c;
}
.controls__button_block {
  width: 100%;
  height: 100%;
}
.controls__button {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}
.controls__block select {
  background-color: black;
  border: 1px solid white;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.controls__block select:focus {
  outline: none;
}

.controls__checkbox {
  display: flex;
  margin: 1px 25px 0 0;
}

.controls__checkbox__container {
  display: block;
  position: relative;

  font-size: 22px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.controls__checkbox__container input {
  position: absolute;

  width: 0;
  height: 0;

  opacity: 0;
  cursor: pointer;
}
.controls__checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 2px;

  border: 1px solid white;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
}
.controls__checkbox__container:hover input ~ .controls__checkbox__checkmark {
  background-color: #ececec;
}
.controls__checkbox__container input:checked ~ .controls__checkbox__checkmark {
  background-color: #000000;
}
.controls__checkbox__checkmark:after {
  display: none;
  position: absolute;
  content: "";
}

.controls__checkbox__container
  input:checked
  ~ .controls__checkbox__checkmark:after {
  display: block;
}

.controls__checkbox__container .controls__checkbox__checkmark:after {
  left: 5px;
  top: 1px;

  border: solid white;
  border-width: 0 3px 3px 0;

  width: 5px;
  height: 10px;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.controls__range {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
  margin: 10px 0 10px 0px;
}

.controls__range__from {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  position: absolute;
  top: -6px;
  cursor: pointer;
}
.controls__range__to {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  position: absolute;
  top: -6px;
  cursor: pointer;
  right: 0px;
}
.conrtols__range__inputs {
  display: flex;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 18px;
}

.conrtols__file {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.conrtols__file label {
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
}
.conrtols__file input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
.conrtols__file div {
  margin-left: 10px;
}

/* TICKER */
.ticker-wrapper {
  overflow: hidden;
  height: 30px;
  position: relative;
  border-bottom: 1px solid white;
}
.ticker-wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 30px;
  transform: translate(100%, 0);
}
.ticker-wrapper div p {
  background: radial-gradient(
    circle,
    rgba(63, 247, 251, 1) 0%,
    rgba(89, 239, 251, 1) 17%,
    rgba(152, 91, 251, 1) 38%,
    rgb(235, 109, 241) 50%,
    rgba(152, 91, 251, 1) 62%,
    rgba(251, 117, 171, 1) 78%,
    rgba(70, 248, 252, 1) 100%
  );
  white-space: nowrap;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.ticker-wrapper .ticker-wrapper__first-half,
.ticker-wrapper .ticker-wrapper__second-half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Falcon Punch", sans-serif;
  animation: ticker 30s infinite linear forwards;
}
.ticker-wrapper .ticker-wrapper__second-half {
  animation: 30s ticker 15s infinite linear forwards;
}
@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* ScrollTopBtn */
.scrollTop {
  border: 1px solid white;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  padding: 0px 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}
.scrollTop_noDisplay {
  display: none;
}
